<!DOCTYPE html>
<html lang="en-us">

  <head>
    <title>US Home Health Agency Data Visualization</title>
    <meta charset="UTF-8">
    <!-- read the main geoJSON file -->
    <script src="static/homecare.geojson" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
      <!-- d3js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
      <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->


    <!-- Leaflet JS & CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" /> -->
    <!-- <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script> -->

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- my CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">US Home Health Agency Data Visualization</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li> 
          <!-- "templates/index.html" -->
          <li><a href="#" target="new ">Service Type</a></li>
          <li><a href="#">Service Quality</a></li>
          <li><a href="#" target="new ">Find provider</a></li>
        </ul>
      </div>
    </nav>
  </head>
<body>
  
    <hr>
    <h3><center>Locations of Home Health Providers</center></h3>
    <!-- <br> -->
    <!-- Location map of providers with clustered markers -->
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->


      <!-- MAP section -->
    <div  id="map"></div>

    <!-- <div  id="layerMap"></div> -->
    <script type="text/javascript">

// var url= "http://localhost:8000/Data-Viz-Project/myMap/homecare.geojson";
  // console.log(url);

// Perform a GET request to the flask app
d3.json("/location_data", function(data) {
// d3.json("homecare.geojson", function(data) {
  //  send the data.features object to the createFeatures and createClusteredMap functions
  let homecareData = data;
  console.log(homecareData);
  createFeatures(homecareData);
  createClusteredMap(homecareData);
});

function createFeatures(homecareData) {

  //  //for each feature in the features array
  // //Give each feature a popup describing the service quality and renewal date of the provider
  function onEachFeature(homecareData, layer) {};
  
  // //homecareData GeoJSON layer containing the features array on the homecareData object
   L.geoJSON(homecareData, {
    onEachFeature: onEachFeature
  });
  // console.log(homecareData);

};
//    // Function to create clustered markers for alll the data
function createClusteredMap(homecareData){
      // Mapbox API
  var mapbox = "https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2pnMzEwIiwiYSI6ImNpdGRjbWhxdjAwNG0yb3A5b21jOXluZTUifQ.T6YbdDixkOBWH_k9GbS8JQ";

  // // // Creating map object
  var myMap = L.map("map", {
    center: [39.8, -98.58],
    zoom: 5
  });

  // // // Adding tile layer to the map
  L.tileLayer(mapbox).addTo(myMap);
    //   // Creating a new marker cluster group
  var markers = L.markerClusterGroup();
  // console.log(markers);

    // create custom icon
  var homecareIcon = L.icon({
      iconUrl: 'static/Homecare2.png',
      iconSize: [30, 30], // size of the icon
      popupAnchor: [0,-15]
      });

    // specify popup options 
  var customOptions =
      {
      'maxWidth': '400',
      'width': '200',
      'background':'#2c3e50',
      'color':'#fff',
      'font-size':'16px',
      'line-height':'24px',
      'className' : 'popupCustom',
      'border-left':'15px solid transparent',
      'border-right':'15px solid transparent',
      'border-top':'15px solid #2c3e50'
      }

//   // Loop through our data...
  for (var i = 0; i < homecareData.length; i++) {
//     // set the data location array to a variable
    var lat = homecareData[i][0];
    var lng = homecareData[i][1];
    var name = homecareData[i][2];
    var serQ = homecareData[i][3];

        // create popup contents
    var customPopup = "<h5>Name   : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

//     // If the data has a location property...
    if (lat, lng) {

//       // Add a new marker to the cluster group and bind a pop-up
      markers.addLayer(L.marker([lat,lng],{icon:homecareIcon})
        .bindPopup(customPopup,customOptions));
    }
  };
//   // Add our marker cluster layer to the map
  myMap.addLayer(markers);
  console.log(homecareData);
};

</script>
<!-- ________________________________________________________________________________________________________-->

<!-- Search result TABLE -->
  <hr>
  <h3>Find Home Health Provider</h3>

            <div class="panel panel-default">
            <div class="panel-body">
                <form  class="form-inline">
                    <div class="row">
                        <div style = "text-align: center" class="col-md-10">
                       
                            <div class="form-group">
                                <label for="cn">Certification No.: </label>
                                <input type="text" class="form-control" id="cn" placeholder="97051">
                            </div>
                            <div class="form-group">
                                <label for="name">Name: </label>
                                <input type="text" class="form-control" id="name" placeholder="ASAP SERVICES CORPORATION">
                            </div>
                            <div class="form-group">
                                <label for="city">City: </label>
                                <input type="text" class="form-control" id="city" placeholder="WASHINGTON">
                            </div>
                            
                            <div class="form-group">
                                <label for="state">State: </label>
                                <input type="text" class="form-control" id="state" placeholder="District of Columbia">
                            </div>
                            <!-- <div class="form-group">
                                <label for="country">Country: </label>
                                <select class="form-control" id="country">
                                    
                                  </select>
                            </div> -->
                                <div class="form-group">
                                    <label for="sq">Service Quality: </label>
                                    <input type="text" class="form-control" id="sq" placeholder="Same As Expected">
                                </div>
                        </div>
                        <div style = "text-align: center" class="col-md-2" >
                                <div class="form-group" id = "search">
                                    <button style="float: right" class="btn btn-success btn-lg">Search</button>
                                </div>
                            </div>
                        </div>
                       
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    </form>
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="width: 100%">
                                <table class="table table-striped" style="margin-left: auto; margin-right: auto" style="width: 100%">
                                </table>
                            </div>
                        </div>
                    </div>   
                       
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                       
                       
                    <nav aria-label="...">
                        <ul class="pager">
                          <li class="previous disabled" id="previous"><a href="">Previous</a></li>
                          <li class="next" id = "next"><a href="">Next 50 Results</a></li>
                        </ul>
                      </nav>
                   
                   
               
               <div class="row"></div>
            </div>
           </div> 

    <!-- For the SEARCH Provider Form -->
    <script type="text/javascript">
  d3.json("/search_data", function(data) {
// d3.json("homecare.geojson", function(data) {
  //  send the data.features object to the createFeatures and createClusteredMap functions
  var dataSet = data;
  console.log(dataSet);
  createFeatures(dataSet);
  // cleanUpData(dataSet);


function createFeatures(dataSet) {

  //  //for each feature in the features array
  // //Give each feature a popup describing the service quality and renewal date of the provider
  function onEachFeature(dataSet, layer) {};
  
  // //dataSet GeoJSON layer containing the features array on the dataSet object
   L.geoJSON(dataSet, {
    onEachFeature: onEachFeature
  });
  // console.log(dataSet);

};

// alert("Loading")
// ---------------------------------
 // Create and run function to clean up data
function cleanUpData(){
    for(i=0;i<dataSet.length; i++){
        // set variables
        var current = dataSet[i];
        
        // clean up abbrs and add full text of country
        var nameLower = current[1];
        var sqLower = current[2];
        var cityLower = current[3];
        var stateLower = current[4];

        // // var countryAbbrUpper = countryAbbrLower.toUpperCase();
        // var countryFullName = isoCountries[countryAbbrUpper];
        // dataSet[i].countryName = countryFullName;
        // dataSet[i].country = countryAbbrUpper;

        // attempt to fix () messiness
        // var cityLower = current.city;
        var firstParan = cityLower.indexOf("(")
        var closeParan = cityLower.indexOf(")")
        while (firstParan > -1){
            if (closeParan > -1){
                cityLower = cityLower.slice(0, firstParan) + cityLower.slice(closeParan + 1)
                console.log(cityLower)
                firstParan = cityLower.indexOf("(")
                closeParan = cityLower.indexOf(")")
            } else {
                cityLower.replace("(", " ")
                console.log(cityLower)
            }
        }
        // capitalize each word in city
        var cityLowerArray = cityLower.split(" ");
        var cityUpperArray = []
       for (j=0; j<cityLowerArray.length; j++){
            var capitalizedWord = cityLowerArray[j].slice(0,1).toUpperCase() + cityLowerArray[j].slice(1);
            cityUpperArray.push(capitalizedWord)
       }
        var cityUpper = cityUpperArray.join(" ")
        // console.log(cityUpper)
        dataSet[i].city = cityUpper.trim()
    //    console.log(dataSet[i])

    //  Capitalize State Abbr and Add Full State name 
    var stateLower = current[4];
    var stateUpper = stateLower.toUpperCase();
    // if ((state[stateUpper])){
    //     var stateFullName = stateAbbr[stateAbbrUpper];
    //     }
    // else if ((canadian_prov[stateAbbrUpper] && (dataSet[i].country == "CA"))){
    //     var stateFullName = canadian_prov[stateAbbrUpper];          
    //     }
    // else if ((australian_prov[stateAbbrUpper] && (dataSet[i].country == "AU"))){
    //     var stateFullName = australian_prov[stateAbbrUpper];          
    //     }
    // else {
    //     var stateFullName = "N/A"
    // }
    // dataSet[i].state = stateAbbrUpper;
    // dataSet[i].stateName = stateFullName;
    
    //  clean shape name
    // var shapeName = current.shape
    var nameUpper = nameLower.slice(0,1).toUpperCase() + nameLower.slice(1);
    // dataSet[1] = nameUpper;
    // // console.log(dataSet[i])

    // //  fix dates to be MM/DD/YYYY
    // var dateRaw = current.datetime;
    // // console.log(dateRaw)
    // var dateArray = dateRaw.split("/");
    // for(var d=0; d<3; d++){
    //     if (dateArray[d].length == 1){
    //        dateArray[d] = "0" + dateArray[d];
    //     }
    // }
    // var newDate = dateArray.join("/");
    // dataSet[i].datetime = newDate;
    

    // console.log(dataSet[i]);
}
}
 ;
           

cleanUpData();





// Get Info for Clean Dropdown Menus & Searchability

// function to create clean lists for choices
// function getListForDropdown(thing){
//     // console.log(thing);
//     var results = dataSet.map(a => a[thing]);
//     // console.log(results);

//     var unique_results = [];

//     for(var i = 0; i< results.length; i++){
//         var current = results[i];
//         var flag = unique_results.indexOf(current);
//         if (flag < 0){
//             unique_results.push(current)
//         }
//     }
//     unique_results.push("All")
//     return unique_results.sort()
// };

// // uses function to save vars as lists for choices
// var unique_countries = getListForDropdown("countryName");
// var unique_shapes = getListForDropdown("shape");

// // // --------------------------------
// // Create dropdown and multi select
// var $countryDropDown = document.querySelector("#country");
// var $shapeSelect = document.querySelector("#shape");

// function createOptions(uniqueList, formObject){

//     for(i=0; i<uniqueList.length; i++){
    
//     // console.log(uniqueList[i])
//     var $obj = document.createElement("option");
//     $obj.innerHTML = uniqueList[i];
//     formObject.appendChild($obj);

// }
// };


// createOptions(unique_countries, $countryDropDown);
// createOptions(unique_shapes, $shapeSelect);

// ------------------------------------ End of Create Options Section ----------------------------//





// Render Table



// make column Headers
var $table = document.querySelector("table")
// all objects  have 5 entries
// var columnHeaders = ["Date", "City", "State", "Country", "Shape", "Duration of Sighting", "Observer's Statement"]
function makeColumnHeaders(){
    var columnHeaders = ["Cert. No.", "Name", "Service Quality", "City", "State"]
    var $thead = $table.createTHead();
    var $row = $thead.insertRow();
    for(var i=0;i<columnHeaders.length;i++){
        var $cell = document.createElement("th");
        $cell.innerHTML = columnHeaders[i];
        $row.appendChild($cell)
    
        
    }
}


makeColumnHeaders()
var $tbody = $table.createTBody()
// End of column Headers



// Render Table

var filteredData = dataSet;

var maxEndNum = filteredData.length;

var startNum = 0;
var endNum = 10;

var pageNum = 0;

function renderTable(numRecordsStart, numRecordsStop){
    
   $tbody.innerHTML = ""

    maxEndNum = filteredData.length;

    // for (var i=0;i<filteredData.length;i++){
    for (var i=numRecordsStart;i<numRecordsStop;i++){
        var $dataRow = $tbody.insertRow()
        var rowData = filteredData[i];
        var columns = [rowData[0], rowData[1], rowData[2], rowData[3], rowData[4]]
        // console.log(filteredData[i]);
        for(var j=0; j<columns.length; j++){
            var $dataCell = $dataRow.insertCell(j);
            $dataCell.innerHTML = columns[j];
                if (columns[j] == rowData.columns){
                    $dataCell.style.wordWrap = "break-word";
                    $dataCell.style.minWidth = "40%";
                    $dataCell.style.maxWidth = "40%";
                }
                else {
                    $dataCell.style.wordWrap = "break-word";
                    $dataCell.style.minWidth = "10%";
                    $dataCell.style.maxWidth = "10%";
                

            }
         }
    }
   
}
renderTable(startNum, endNum)


// Filter Functionality

// search inputs 
var $cnInput = document.querySelector("#cn");
var $nameInput = document.querySelector("#name");
var $sqInput = document.querySelector("#sq");
var $cityInput = document.querySelector("#city");
var $stateInput = document.querySelector("#state");
// var $countryInput = document.querySelector("#country");
// var $shapeInput = document.querySelector("#shape");

// Search button
var $searchbtn = document.querySelector("button");

// buttons for pagination
// $nextBtn = document.querySelector("#next")
// $previousBtn = document.querySelector("#previous")


// event listener for search button
$searchbtn.addEventListener("click", handleSearch);




// filter data on click
function handleSearch(event){

event.preventDefault();

// create vriables for inputs - tranforming when needed and conditionally
// var searchDate = $dateInput.value.toString();
// if (searchDate){
//     var dateArray = searchDate.split("-");
//     newDate = dateArray[1] + "/" + dateArray[2] + "/" + dateArray[0]
//     searchDate = newDate
// }
// console.log("date:" + searchDate)
var searchCity = $cityInput.value.replace(/[^0-9a-z]/gi, '').trim().toLowerCase();
console.log("City: " + searchCity);

var searchCn = $cnInput.value.trim();// //.toLowerCase();replace(/[^0-9a-z]/gi, '').
console.log("Cert No: " + searchCn);
var searchName = $nameInput.value;//.trim();//.toLowerCase();
console.log("Name: " + searchName);
var searchSq = $sqInput.value.trim();//.toLowerCase();
console.log("Service qulty: " + searchSq);

var searchState = $stateInput.value.trim();//.toLowerCase();
console.log("State: " + searchState);

// var searchCountry = $countryInput.value.trim().toLowerCase();
// if (searchCountry === "all"){
//     searchCountry = ""
// }
// console.log("Country: " + searchCountry)
// var searchShape = $shapeInput.value.trim().toLowerCase();
// if (searchShape == "all"){
//     searchShape = ""
// } 
// console.log("Shape: " + searchShape)


// create filtered data set
filteredData = dataSet.filter(function(record) {
  // Loop through dataSet 
  // for (var i = 0; i < dataSet.length; i++) { 
    var cityMatch = record[3].substring(0, searchCity.length).toLowerCase().trim();
  // }
    var cityFlag = cityMatch.indexOf(searchCity) ///allows for partial match
    console.log("CityMatch  " + cityMatch, "citysearch  " + searchCity );

    var cnMatch = record[0];//.replace(/[^0-9a-z]/gi, '').substring(0, searchCn.length).trim()
    // var cnFlag = cnMatch.indexOf(searchCn) ///allows for partial match
    


    var nameMatch = record[1].substring(0, searchName.length).trim();
    var nameFlag = nameMatch.indexOf(searchName) ///allows for partial match
    console.log("match: " + record[1] + "Flag: " + nameFlag );

    var sqMatch = record[2].substring(0, searchSq.length).trim();
    var sqFlag = cnMatch.indexOf(searchCn) ///allows for partial match

    var stateMatchFull = record[4].substring(0, searchState.length).trim();
    // var stateMatchAbbr = record.state.substring(0, searchState.length).trim();
    var stateFullFlag = stateMatchFull.indexOf(searchState) /// allows for partial match

    // var countryMatch = record.countryName.substring(0, searchCountry.length).toLowerCase().trim();


    if (nameMatch === searchName && 
        ((cityMatch === searchCity) || (cityFlag > -1)) &&
        ((stateMatchFull === searchState) || (stateFullFlag > -1)) &&
        sqMatch === searchSq &&
        cnMatch === searchCn)
    {
    return true;
    }
    return false;
    console.log(filteredData);
  });

  startNum = 0;
  endNum = 50;
  
  var maxEndNum = filteredData.length;
  
      if (maxEndNum < endNum){
          endNum = maxEndNum
          $nextBtn.classList.add('disabled')
      }

renderTable(startNum, endNum);

$cnInput = "";
$nameInput = "";
$sqInput = "";
$cityInput = "";
$stateInput = "";

$previousBtn.className ='previous disabled';
$previousBtn.innerHTML = "<a href=''>Previous</a>";

$nextBtn.className = 'next';
$nextBtn.innerHTML = "<a href=''>Next 50 Results</a>"
}

// Pagination Handling


$previousBtn = document.querySelector("#next");
var pageNum = 0;

$nextBtn.addEventListener("click", function(event){
    event.preventDefault();
    console.log($nextBtn.className);

    if ($nextBtn.className == "next"){

    pageNum += 1;

    startNum += 50;
    endNum += 50;
    


    if (maxEndNum < endNum){
        endNum = maxEndNum
        $nextBtn.classList.add('disabled');

        $nextBtn.innerHTML = "<a href=''>End of Results</a>";
    }
    renderTable(startNum, endNum);

    if (pageNum == 1){
        $previousBtn.classList.remove('disabled');
        $previousBtn.innerHTML = "<a href=''>Previous 50 Results</a>"
    }
}
});

$previousBtn.addEventListener("click", function(event){

    event.preventDefault();

    if (pageNum>0){

        pageNum -= 1
        
        if (maxEndNum == endNum){
            $nextBtn.classList.remove('disabled');
            
                $nextBtn.innerHTML = "<a href=''>Next 50 Results</a>";
        }
        startNum -= 50;
        endNum -= 50;

        if(pageNum == 0){
            $previousBtn.classList.add('disabled');
            $previousBtn.innerHTML = "<a href=''>Previous</a>"
        }

        renderTable(startNum, endNum);

    }
})
});

      

    </script>


  <!-- // // space for the second template page -->
<!-- {% block body %}
{% endblock %} -->
<!-- ________________________________________________________________________________________________________-->
<!-- SERVICE TYPE MAP -->

<hr>
<h3><center>Services offered by the home care providers</center></h3>
<br>
  <!-- service type  of providers with curomized markers -->
<!-- <div class="container"> -->
  <!-- <div class="row"> -->
<!-- <div class="row"> -->
    <div id="map2"></div>

  <!-- </div> -->

<!-- </div> -->
    <!-- <div  id="layerMap"></div> -->
<script type="text/javascript">

// var url= "http://localhost:8000/Data-Viz-Project/myMap/homecare.geojson";
  // console.log(url);

// Perform a GET request to the query URL
// d3.json(url, function(data) {

d3.json("homecare.geojson", function(data) {
  //  send the data.features object to the createFeatures and createClusteredMap functions
  var homecareData2 = data.features;
  // console.log(homecareData2);
  createFeatures(homecareData2);
  // createClusteredMap(homecareData2);
  createLayerMap(homecareData2);


function createFeatures(homecareData2) {

  //  //for each feature in the features array
  // //Give each feature a popup describing the service quality and renewal date of the provider
  function onEachFeature(homecareData2, layer) {};
  
  // //homecareData2 GeoJSON layer containing the features array on the homecareData2 object
   L.geoJSON(homecareData2, {
    onEachFeature: onEachFeature
  });

};

function createLayerMap(homecareData2){

  // // Define variables for our base layers
  var streetmap = L.tileLayer(
    "https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/tiles/256/{z}/{x}/{y}?" +
      "access_token=pk.eyJ1Ijoia2pnMzEwIiwiYSI6ImNpdGRjbWhxdjAwNG0yb3A5b21jOXluZTUifQ." +
      "T6YbdDixkOBWH_k9GbS8JQ"
  );
  var darkmap = L.tileLayer(
    "https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?" +
      "access_token=pk.eyJ1Ijoia2pnMzEwIiwiYSI6ImNpdGRjbWhxdjAwNG0yb3A5b21jOXluZTUifQ." +
      "T6YbdDixkOBWH_k9GbS8JQ"
  );

       // // Mapbox API
  var mapbox = "https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2pnMzEwIiwiYSI6ImNpdGRjbWhxdjAwNG0yb3A5b21jOXluZTUifQ.T6YbdDixkOBWH_k9GbS8JQ";

  //  //Initialize all of the LayerGroups we'll be using
  var layers = {
    Nursing_Care_Services: new L.LayerGroup(),
    Physical_Therapy_Services: new L.LayerGroup(),
    Speech_Pathology_Services: new L.LayerGroup(),
    Homehealth_Aid_Services: new L.LayerGroup()

  };

  // Define a map object with our layers
  var myMap2 = L.map("map2", {
    center: [39.8, -98.58],
    zoom: 5,
    layers: [darkmap,
      layers.Nursing_Care_Services,
      layers.Physical_Therapy_Services,
      layers.Speech_Pathology_Services,
      layers.Homehealth_Aid_Services,
      ]
  });

   // Create a baseMaps object
  var baseMaps = {
    "Street Map": streetmap,
    "Dark Map": darkmap
  };

    // Create an overlays object to add to the layer control
  var overlayMaps = {
    "Nursing Care Services": layers.Nursing_Care_Services,
    "Physical Therapy Services": layers.Physical_Therapy_Services,
    "Speech Pathology Services":layers.Speech_Pathology_Services,
    "Home Health Aid Services":layers.Homehealth_Aid_Services
  };

  // Pass our map2 layers into our layer control
  // Add the layer control to the map2
  L.control.layers(baseMaps, overlayMaps, {
    collapsed: false
  }).addTo(myMap2);

  // specify popup options 
  var customOptions =
      {
      'maxWidth': '400',
      'width': '200', 'background':'#2c3e50', 'color':'#fff', 'font-size':'16px',
      'line-height':'24px', 'className' : 'popupCustom', 'border-left':'15px solid transparent',
      'border-right':'15px solid transparent', 'border-top':'15px solid #2c3e50'
      };

  // var stateMarkers = [];
  // homecareData2.sort();
  // console.log(homecareData2);

   // Initialize a serviceType, which will be used as a key to access the appropriate layers, icons, and pop ups for layer group
  var serviceType;
  var serviceIcon;
console.log(homecareData2);
  // Loop through homecare and create  marker for each service type 
  for (var i = 0; i < 12000; i+=Math.floor(Math.random()*20)) { //Math.floor(Math.random()*5)  //homecareData2.length

    //   //coordinates and labels
    // if (i === 1000) { break; }
    var lat = homecareData2[i].properties.latitude;
    var lng = homecareData2[i].properties.longitude;
    var name = homecareData2[i].properties.name;
    var serQ = homecareData2[i].properties.sq;


    //set the type of services to a variable
    var ncs = homecareData2[i].properties.ncs.toUpperCase();
    var pts = homecareData2[i].properties.pts.toUpperCase();
    var sps = homecareData2[i].properties.sps.toUpperCase();
    var hhas = homecareData2[i].properties.hhas.toUpperCase();
    // console.log("ncs  " + ncs + "  sps   " + sps + "  pts  " + pts + "  hhas   " + hhas);

    // // Homecare service tpe condition
    //  // Nursing care services
    if (ncs==='YES'){
      serviceType = "Nursing_Care_Services";
      serviceIcon = "Nurse_icon.png";
            // create popup contents
      var customPopup = "<h5>Name : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

       // // create custom icon
      var serviceIcon = L.icon({
          iconUrl: 'static/'+ serviceIcon,
          iconSize: [20, 20], // size of the icon
          popupAnchor: [0,-15]
          });
      //   //set variable for a marker represneting each service type
      if (lat, lng) {
        var new_marker = L.marker([lat, lng], {icon:serviceIcon}).bindPopup(customPopup,customOptions);
      }
      // Add the new marker to the appropriate layer
      new_marker.addTo(layers[serviceType]);
      // console.log(new_marker);
    };

        //  // Physical therapy services

    if (pts==='YES'){
      serviceType = "Physical_Therapy_Services";
      serviceIcon = "physical_therapy2.png";
            // create popup contents
      var customPopup = "<h5>Name : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

       // // create custom icon
      var serviceIcon = L.icon({
          iconUrl: 'static/'+ serviceIcon,
          iconSize: [20, 20], // size of the icon
          popupAnchor: [0,-15]
          });
      //   //set variable for a marker represneting each service type
      if (lat, lng) {
        var new_marker = L.marker([lat, lng], {icon:serviceIcon}).bindPopup(customPopup,customOptions);
      }
      // Add the new marker to the appropriate layer
      new_marker.addTo(layers[serviceType]);
      // console.log(new_marker);

    };
        //  // Speech pathology  services

    if (sps==='YES'){
      serviceType = "Speech_Pathology_Services";
      serviceIcon = "speech_pathology.png";
            // create popup contents
      var customPopup = "<h5>Name : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

       // // create custom icon
      var serviceIcon = L.icon({
          iconUrl: 'static/'+ serviceIcon,
          iconSize: [20, 20], // size of the icon
          popupAnchor: [0,-15]
          });
      //   //set variable for a marker represneting each service type
      if (lat, lng) {
        var new_marker = L.marker([lat, lng], {icon:serviceIcon}).bindPopup(customPopup,customOptions);
      }
      // Add the new marker to the appropriate layer
      new_marker.addTo(layers[serviceType]);
      // console.log(new_marker);

    };
        //  // Home health aid  services
    if (hhas==='YES'){
      serviceType = "Homehealth_Aid_Services";
      serviceIcon ="hha_icon.png";
            // create popup contents
      var customPopup = "<h5>Name : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

       // // create custom icon
      var serviceIcon = L.icon({
          iconUrl: 'static/'+ serviceIcon,
          iconSize: [15, 15], // size of the icon
          popupAnchor: [0,-15]
          });
      //   //set variable for a marker represneting each service type
      if (lat, lng) {
        var new_marker = L.marker([lat, lng], {icon:serviceIcon}).bindPopup(customPopup,customOptions);
      }
      // Add the new marker to the appropriate layer
      new_marker.addTo(layers[serviceType]);
      // console.log(new_marker);
    };
    // console.log(serviceType);
    //  // create popup contents
    // var customPopup = "<h5>Name : " + name +"</h5><hr><p> Service quality: "  + serQ  + "</p>";

    //  // // create custom icon
    // var serviceIcon = L.icon({
    //     iconUrl: 'static/'+ serviceIcon,
    //     iconSize: [30, 30], // size of the icon
    //     popupAnchor: [0,-15]
    //     });

    // //   //set variable for a marker represneting each service type
    // if (lat, lng) {
    //   var new_marker = L.marker([lat, lng], {icon:serviceIcon}).bindPopup(customPopup,customOptions);
    // }
    // // Add the new marker to the appropriate layer
    // new_marker.addTo(layers[serviceType]);
    // console.log(new_marker);

  }
  
}
});
    </script>
</body>
</html>
